*{
    line-height: 1.5;
    color:black;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
img{
    width: 200px;
}
.recipes-list{
    list-style:none;
}
h1{
    color:darkred;
}
.recipe-card,.recipes{
    width: 500px;
    background-color: #FFFAFA;
    text-align: center;
}
.recipe-content{
    text-align: left;
}
.recipe-card h2{
    text-transform: uppercase;
}

.recipe-card.feature{
    border:2px solid darkred;
}
h3 ul li{
    font-size: 16px;
}

.recipes{
    background-color: antiquewhite;
}

a{
    text-decoration: none;
}

.item{
    border: 1px solid darkred;
    height: 30px;
    width:10em;
    text-align: center;
    background-color: white;
    line-height: 2;
}

.item:hover{
    background-color: rgb(241, 120, 120);
}